<center>
        <h1 style="background-color:black">
            <font color=white>SOS1718-10
            <p style="float:right"><i>List Builders</i></p></font>
            <a href="https://sos1718-10.herokuapp.com/builders/"><img src="./logo/Logo-F1.png" width="90" height="55" style="float:left"></img></a>
        </h1>
</center>
<table class="table">
    <thead>
         <tr>
            <th class="text-center" style="float:right" ><button class="btn btn-warning" ng-click="loadInitialData()">INITIALIZE</button></th>
        </tr>
    </thead>
</table>
<table class="table">
    <thead>   
        <tr style="background-color:#FFD9E6">
            <h4>Empty Database:</h4></tr>
            <th class="success"><button class="button btn-danger" ng-click="deleteAll()">Delete All</button></th>
    </thead>        
        
</table>

<table class="table">
    <thead>
        <h4>Search for year: &nbsp; &nbsp; &nbsp; Search for builder </h4>
        <td class="info"><input class="form-control" ng-model="newBuilder.year" placeholder="Year"></td>
        <th class="success"><button class="button btn-warning" ng-click="search()">Search</button></th>
        
        <td class="info"><input class="form-control" ng-model="newBuilder.builder" placeholder="Builder"></td>
        <th class="success"><button class="button btn-warning" ng-click="searchBuilder()">Search Builder</button></th>
    </thead>
</table>

<table class="table">
    <thead>
        <tr align=center>
            <th><b>Country</b></th>
            <th><b>Year</b></th>
            <th><b>Builder</b></th>
            <th><b>Pole</b></th>
            <th><b>Victory</b></th>
        </tr>
        
    </thead>
    <tbody>
        <tr align=center style="background-color:#C3F3FF">
            <td class="info"><input class="form-control" ng-model="newBuilder.country" placeholder="Country"/></td>
            <td class="info"><input type = "number" class="form-control" ng-model="newBuilder.year" placeholder="Year"/></td>
            <td class="info"><input class="form-control" ng-model="newBuilder.builder" placeholder="Builder"/></td>
            <td class="info"><input type = "number" class="form-control" ng-model="newBuilder.pole" placeholder="Pole"/></td>
            <td class="info"><input type = "number" class="form-control" ng-model="newBuilder.victory" placeholder="Victory"/></td>
            <td class="info"><button class="button btn-primary" ng-click="addBuilder()">Add</button></td>
           
        </tr>
        <tr align=center ng-repeat="builder in builders">
            <td>{{builder.country}} </td>
            <td><a href="/builders/front/#!/builder/{{builder.year}}">{{builder.year}}</a></td>
            <td>{{builder.builder}}</td>
            <td>{{builder.pole}}</td>
            <td>{{builder.victory}}</td>
            <td><button class="button btn-danger" ng-click="deleteBuilder(builder.year)">Delete</button></td>
        </tr>
        
    </tbody>
</table>
<hr/>

<h8><i>{{status}}</i></h8>