<center>
    <h1 style="background-color:black">
        <font color=white>SOS1718-10
            <p style="float:right"><i>List Builders</i></p>
        </font>
        <a href="https://sos1718-10.herokuapp.com/#!/builders-profile/"><img src="../public_apis/builders/front-end/logo/Logo-F1.png" width="90" height="55" style="float:left"></img></a>
    </h1>

    <div>
        <table class="table">
            <thead>
                <tr style="background-color:#FFD9E6">
                    <th class="text-center" style="float:right"><button class="btn btn-warning" ng-click="loadInitialData()">INITIALIZE</button></th>

                    <th class="success"><button class="btn btn-danger" ng-click="deleteAll()">Empty database</button></th>
                </tr>
            </thead>

        </table>
    </div>

    <div>
        <div style="float: left; width: 30%">
            <table class="table">
                <thead>
                    <tr style="background-color:#BAFFD6">
                        <td>
                            <th class="success">Introduce LIMIT<input class="form-control" ng-model="limit" placeholder="Limit"></th>
                            <th class="success">Introduce OFFSET<input class="form-control" ng-model="offset" placeholder="Offset"></th>
                            <th class="success"><button class="btn btn-success" ng-click="getPaginacion()">Paginar</button></th>
                        </td>
                    </tr>
                </thead>
            </table>
        </div>

        <table class="table">
            <thead>
                <tr style="background-color:#EEFCFE">
                    <td>
                        <th class="succes">Search year<input class="form-control" ng-model="newBuilder.year" placeholder="Year"></th>
                        <th class="success"><button class="btn btn-success" ng-md-icon icon="search" ng-click="search()"> SEARCH </button></th>
                    </td>
                    <td>
                        <th class="info">Search builder<input class="form-control" ng-model="newBuilder.builder" placeholder="Builder"></th>
                        <th class="success"><button class="btn btn-success" ng-md-icon icon="search" ng-click="searchBuilder()"> SEARCH </button></th>
                    </td>

            </thead>
        </table>


        <table class="table">
            <thead>
                <tr align=center>
                    <th><b>Country</b></th>
                    <th><b>Year</b></th>
                    <th><b>Builder</b></th>
                    <th><b>Pole</b></th>
                    <th><b>Victory</b></th>
                </tr>

            </thead>
            <tbody>
                <tr align=center style="background-color:#C3F3FF">
                    <td class="info"><input class="form-control" ng-model="newBuilder.country" placeholder="Country" /></td>
                    <td class="info"><input type="number" class="form-control" ng-model="newBuilder.year" placeholder="Year" /></td>
                    <td class="info"><input class="form-control" ng-model="newBuilder.builder" placeholder="Builder" /></td>
                    <td class="info"><input type="number" class="form-control" ng-model="newBuilder.pole" placeholder="Pole" /></td>
                    <td class="info"><input type="number" class="form-control" ng-model="newBuilder.victory" placeholder="Victory" /></td>
                    <td class="info"><button class="button btn-primary" ng-click="addBuilder()">Add</button></td>

                </tr>
                <tr align=center ng-repeat="builder in builders">
                    <td>{{builder.country}} </td>
                    <td><a href="/#!/builder/{{builder.year}}">{{builder.year}}</a></td>
                    <td>{{builder.builder}}</td>
                    <td>{{builder.pole}}</td>
                    <td>{{builder.victory}}</td>
                    <td><button class="button btn-danger" ng-click="deleteBuilder(builder.year)">Delete</button></td>
                </tr>

            </tbody>
        </table>
        <hr/> View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)">
                    <option>3</option>
                    <option>5</option>
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    </select> for page.
        <pre>The selected page number: {{currentPage}}</pre>

        <div id="pagination" style="float: left; width: 30%; margin-left: 1000px" ; disabled=true>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <table>
                <td><button class="btn btn-info" ng-click="previousPage(currentPage-1)" ng-disabled="currentPage==1">Prev</button></td>

                <td ng-repeat="page in pages">
                    <a><button class="btn btn-info" ng-click="newPage(page)">{{page}}</button></a>
                </td>
                <td><button class="btn btn-info" ng-click="nextPage(currentPage+1)" ng-disabled="currentPage == pages.length"> Next</button></td>
            </table>
        </div>
    </div>
