<table class="table">
    <thead>
        <tr>
            <th><b>Year</b></th>
            <th><b>Pilot</b></th>
            <th><b>Country</b></th>
            <th><b>Score</b></th>
            <th><b>Age</b></th>
            <th><b>Action</b></th>
        </tr>
        
    </thead>
    <tbody>
        <tr>
            <td><input class="form control" ng-model="newPilot.year"/></td>
            <td><input class="form control" ng-model="newPilot.pilot"/></td>
            <td><input class="form control" ng-model="newPilot.country"/></td>
            <td><input class="form control" ng-model="newPilot.score"/></td>
            <td><input class="form control" ng-model="newPilot.age"/></td>
            <td><button class="button btn-primary" ng-click="addPilot()">Add</button></td>
        </tr>
        <tr ng-repeat="pilot in pilots">
            <td><a href="/motogp-stats/front/#!/pilot/{{pilot.year}}">{{pilot.year}}</a></td>
            <td>{{pilot.pilot}} </td>
            <td>{{pilot.country}}</td>
            <td>{{pilot.score}}</td>
            <td>{{pilot.age}}</td>
            <td><button class="button btn-danger" ng-click="deletePilot(pilot.year)">Delete</button></td>
        </tr>
        
    </tbody>
</table>
<hr/>
<h8><i>{{status}}</i></h8>
   